/*----- testimonial area start -----*/
.testimonial-thumb-wrapper {
    max-width: 290px;
    margin: auto;
}
.testimonial-thumb {
    cursor: pointer;
    transform: scale(0.7);
    transition: 0.4s;
    width: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.slick-slide {
    &.slick-current {
        .testimonial-thumb {
            transform: scale(1);
        }
    }
}
.testimonial-content-wrapper {
    max-width: 910px;
    margin: auto;
    margin-top: 25px;
    // responsive
    @media #{$lg-device} {
        max-width: 750px;
    }
}
.testimonial {
    &-content {
        text-align: center;
        p {
            font-size: 15px;
        }
        .ratings {
            margin-top: 30px;
            margin-bottom: 5px;
        }
    }
    &-author {
        font-size: 17px;
        font-weight: 700;
        line-height: 1;
        text-transform: capitalize;
    }
}
/*----- testimonial area end -----*/